body {
  background: #00b3e6;
}
#main-header {
  font-size: 22px;
}
div {
  width: 700px;
  margin: auto;
  font-family: Helvetica Neue;
  background: white;
  padding: 30px;
}
.perspective-questions {
  font-style: italic;
}
